/* paste below in use:-----------------
<div class="Title">
    <header class="nav">
        <nav>
            <ul>
                <li><a href="index.html">MainPage-#</a></li>
                <li><a href="download.html">Download-*</a></li>
                <li><a href="about.html">About-?</a></li>
                <li><a href="contect.html">Contect-@</a></li>
                <div class="nav_slider"></div>
            </ul>
            <button class="langSet" id="langSet">Language</button>
        </nav>
    </header>
---------------------------------
*/

.nav {
    border: 1px solid;
    border-radius: 5px;
    background-color: #285714;
    border-collapse: collapse;
    align-items: center;
    padding: 1px 1px;
    display: grid;
}

ul {
    box-shadow: 20px 40px 40px #00000033;
    border-radius: 5px;
    box-shadow: 5px 15px 15px #00000022;
}

li {
    list-style: none;
    display: inline-flex;
    background-color: #14285728;
    transition: 0.3s;
    box-shadow: 10px 20px 20px #00000033;
    font: 600 20px 'Consolas';
    color: #28145757;
    flex-wrap: wrap;
}

li a {
    margin-right: 10px;
    border-radius: 3px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.LangSet {
    align-items: right;
    text-align: right;
}

li a:hover {
    animation: navTexInhov 0.5s;
    animation-fill-mode: forwards;
}

li a:not(:hover) {
    animation: navTexOuthov 0.5s;
    animation-fill-mode: forwards;
}

li a:active {
    box-shadow: inset 5px 5px 5px #00000030,
        inset -5px -5px 5px #00000036;
}

.inbox_roll {
    animation: inbox_ani infinite;
}

.nav:hover {
    animation: navborder_ani1 0.5s forwards;
}

.nav:not(:hover) {
    animation: navborder_ani2 0.5s backwards;
}

.LangSet {
    position: relative;


}

@keyframes navPhoneResize {
    0% {
        font-size: 100%;
    }

    100% {
        font-size: 3px;
    }
}

@keyframes navTexInhov {
    0% {
        color: #281457;
        border-color: #2bad1a;
    }

    25% {
        color: #dad;
    }

    100% {
        color: #571428;
        background-color: #2bad1a;
    }
}

@keyframes navTexOuthov {
    0% {
        color: #571428;
        border-color: #2bad1a;
    }

    100% {
        color: #281457;
    }
}

@keyframes navborder_ani1 {
    0% {
        border-color: #142857;
    }

    100% {
        border-color: #2bad1a;
    }
}

@keyframes navborder_ani2 {
    0% {
        border-color: #2bad1a;
    }

    100% {
        border-color: #142857;
    }
}