@use "colors" as colors;

/*
these are ease-functions & animations defination
some ease-funstions you can find in https://easing.net
*/

$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);

//---404---//

@keyframes bg_ani {

    from,
    to {
        filter: url(#glitch2);
    }

    15%,
    25%,
    35%,
    65% {
        filter: url(#glitch1);
    }
}

//---Typed.js Cursor---//

@keyframes typedCursor {
    from {
        opacity: 0.2;
    }
    to{
        opacity: 1;
    }
}

//---elements---//

@keyframes elementsAppear {
    
}

@keyframes elementsDisappear {
    
}


@keyframes elementsHoverOne {
    0% {
        opacity: 0.65;
        filter: grayscale(75%);
    }
    15%,
    25%,
    35%,
    65% {
        border-color: colors.$highlight-color;
    }

    20%,
    30%,
    45%,
    75% {
        border-color: #285714;
    }
    100% {
        opacity: 1;
        border-color: colors.$highlight-color;
    }
}

@keyframes elementsOutHoverOne {
    0% {
        opacity: 1;
        border-color: colors.$highlight-color;
    }

    100% {
        opacity: 0.65;
        filter: grayscale(75%);
    }
}

@keyframes elementsClick {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.75;
    }
}

//---nav---//

@keyframes navTex1_Inhov {
    0% {
        color: #281457;
    }

    25% {
        color: #dad;
    }

    100% {
        color: #571428;
        background-color: #2bad1a;
    }
}

@keyframes navTex1_Outhov {
    0% {
        color: #571428;
    }

    16%,
    25%,
    35%,
    65% {
        color: #285714;
    }

    32%,
    30%,
    45%,
    75% {
        color: #50b027;
    }

    100% {
        color: #281457;
    }
}

/*nav BUTTOM status ani*/

@keyframes navTex2_Inhov {
    0% {
        color: #2bad1a;
    }

    100% {
        background-color: #2bad1a;
        color: #571428;
    }
}

@keyframes navTex2_Outhov {
    0% {
        color: #571428;
        border-color: #285714;
    }

    15%,
    25%,
    35%,
    65% {
        border-color: #2bad1a;
    }

    20%,
    30%,
    45%,
    75% {
        border-color: #285714;
    }

    100% {
        color: #2bad1a;
        border-color: #2bad1a;
    }

}

@keyframes navTex2_click {
    100% {
        border-color: #2bad1a;
    }
}

/*nav ITSELF status ani*/

@keyframes navInHover {
    0% {
        border-color: none;
        filter: grayscale(80%);
    }

    100% {
        border-color: #2bad1a;
        filter: grayscale(0%);
    }
}

@keyframes navOutHover {
    0% {
        border-color: #2bad1a;
        filter: grayscale(0%);
    }

    100% {
        border-color: none;
        filter: grayscale(80%)
    }
}