@use "colors" as colors;

// TODO: animation redaction needed

/*
these are ease-functions & animations defination
some ease-funstions you can find in https://easing.net
*/

$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);

//---index---//

@keyframes bgRotate {
    from,
    to{
        background: radial-gradient(ellipse at top,
            colors.$global-color 0%, colors.$dark 100%) fixed;
        background-position: 0 0.5;
    }
    50%{
        background: radial-gradient(ellipse at top,
            colors.$global-color 0%, colors.$error-color 100%) fixed;
        background-position: 1 0.5;
    }
}

//---404---//

@keyframes bgAni {

    from,
    to {
        filter: url(#glitch2);
    }

    15%,
    25%,
    35%,
    65% {
        filter: url(#glitch1);
    }
}

@keyframes loading {
    0%{
        content: "";
        color: colors.$error-color;
    }

    15%{
        content: ".";
        color: colors.$sharp-green;
    }
    33%{
        content: "..";
        color: colors.$error-color;
    }
    77%{
        content: "...";
        color: colors.$sharp-green;
    }
    88%{
        content: "....";
        color: colors.$error-color;
    }
    99%{
        content: ".....";
        color: colors.$sharp-green;
    }
    100%{
        content: "......";
        color: colors.$error-color;
    }
}

//---Typed.js Cursor---//

@keyframes typedCursor {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

//---elements---//

@keyframes elementsAppear {
    from {
        opacity: 0.15;
    }

    to {
        opacity: 1;
    }
}

@keyframes elementsDisappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.15;
    }
}


@keyframes elementsHoverOne {
    0% {
        opacity: 0.8;
        filter: grayscale(0.75);
    }

    15%,
    25%,
    35%,
    65% {
        border-color: colors.$highlight-color;
    }

    20%,
    30%,
    45%,
    75% {
        border-color: colors.$error-color;
    }

    100% {
        opacity: 1;
        border-color: colors.$highlight-color;
    }
}

@keyframes elementsOutHoverOne {
    0% {
        opacity: 1;
        border-color: colors.$highlight-color;
    }

    100% {
        opacity: 0.8;
        filter: grayscale(0.75);
    }
}

@keyframes elementsHoverTwo {
    0% {
        opacity: 0.65;
        filter: grayscale(0.5);
    }

    15%,
    25%,
    35%,
    65% {
        background-color: colors.$highlight-color;
    }

    20%,
    30%,
    45%,
    75% {
        background-color: colors.$error-color;
    }

    100% {
        opacity: 1;
        background-color: colors.$highlight-color;
    }
}

@keyframes elementsOutHoverTwo {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.65;
        filter: grayscale(0.5)
    }
}

@keyframes elementsClick {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

//---modals---//

@keyframes modalIn {
    0% {
        transform: rotate3d(1, 0, 0, 90deg);
        border: 1px solid colors.$sharp-green;
    }
    16%,
    25%,
    35%,
    65% {
        border-color: colors.$error-color;
    }

    32%,
    30%,
    45%,
    75% {
        border-color: colors.$sharp-green;
    }
    100% {
        transform: rotate3d(1, 1, 1, 0deg);
        border: 4px solid colors.$sharp-green;
    }
}

@keyframes modalOut {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
        border: 4px solid colors.$sharp-green;
    }
    16%,
    25%,
    35%,
    65% {
        border-color: colors.$error-color;
    }

    32%,
    30%,
    45%,
    75% {
        border-color: colors.$sharp-green;
    }
    100% {
        transform: rotate3d(1, 0, 0, 90deg);
        border: 1px solid colors.$sharp-green;
    }
}

//---nav---//

@keyframes navBtnInhov {
    0% {
        color: colors.$error-color;
    }

    25% {
        color: colors.$link-visited;
    }

    100% {
        color: colors.$fatal-color;
        background-color: colors.$highlight-color;
    }
}

@keyframes navBtnOuthov {
    0% {
        color: colors.$fatal-color;
    }

    16%,
    25%,
    35%,
    65% {
        color: colors.$error-color;
    }

    32%,
    30%,
    45%,
    75% {
        color: colors.$sharp-green;
    }

    100% {
        color: colors.$info-color;
    }
}

/*nav BUTTOM status ani*/

@keyframes navBtnTInhov {
    0% {
        color: colors.$highlight-color;
    }

    100% {
        background-color: colors.$highlight-color;
        color: colors.$fatal-color;
    }
}

@keyframes navBtnTOuthov {
    0% {
        color: colors.$fatal-color;
        border-color: colors.$error-color;
    }

    15%,
    25%,
    35%,
    65% {
        border-color: colors.$highlight-color;
    }

    20%,
    30%,
    45%,
    75% {
        border-color: colors.$error-color;
    }

    100% {
        color: colors.$highlight-color;
        border-color: colors.$highlight-color;
    }

}

@keyframes navBtnTclick {
    100% {
        border-color: colors.$highlight-color;
    }
}

/*nav ITSELF status ani*/

@keyframes navInHover {
    0% {
        border-color: none;
        filter: grayscale(0.8);
    }

    100% {
        border-color: colors.$highlight-color;
        filter: grayscale(0);
    }
}

@keyframes navOutHover {
    0% {
        border-color: colors.$highlight-color;
        filter: grayscale(0);
    }

    100% {
        border-color: none;
        filter: grayscale(0.8)
    }
}