@use "animation";
@use "colors" as colors;
@use "cursors" as cursors;

.skyaBtnD,
.skyaBtnE {
    color: colors.$highlight-color;
    font: 20px "XTypeWriter-Bold", "fusion-pixel-Monospace";
    background-color: colors.$global-color;
    border: 3px solid;
    margin: 7% auto 10%;
    border-radius: 4px;
    padding: 10px 10px;
    transform-origin: left;

    a {
        text-decoration: none;
        color: colors.$highlight-color;
    }

    &:hover {
        cursor: cursors.$pointer;
        animation: btn_inHover 0.5s forwards;
    }

    &:not(:hover) {
        animation: btn_outHover 0.4s forwards;
    }

    &:active {
        animation: btn_Click 0.4s forwards;
    }
}