/*
purely, they are variables.
usage:
1. @use "shared/colors" as colors
2. colors.$something
*/

$global-color: #142857;
$error-color: #285714;
$fatal-color: #571428;
$info-color: #281457;

$global-hover: #14285714;

$dark: #333;
$dark-backdrop: #00000030;
$dark-shadow1: #00000033;
$dark-shadow2: #00000036;

$highlight-color: #2bad1a;
$section-color: #dcc833;
$sharp-green: #50b027;
$link-visited: #dad;
$baba: #bababa;