@use "colors" as colors;
@use "animation";
@use "layers" as layers;

$currentScrollbarWidth: 8px;
$currentScrollbarHeight: 1vh;

/* full scrollbar */
::-webkit-scrollbar {
    display: none;
}

::-moz-progress-bar {
    color: colors.$highlight-color;
}

div#scrollProgress{
    position: relative;
    //visibility: hidden;
    color: colors.$highlight-color;
    z-index: layers.$elements;
    margin: 0 auto;
    height: 6px;
    display: block;
    border: 1px colors.$highlight-color solid;
    border-radius: 0 0 3px 3px;
    background-color: colors.$highlight-color;
    transition: none;

    &::before{
        animation: elementsAppear forwards 200ms;
    }

    &::after{
        animation: elementsDisappear forwards 200ms;
    }

    &:hover{
        animation: elementsHoverTwo forwards 200ms;
    }

    &:not(:hover){
        animation: elementsOutHoverTwo forwards 200ms;
    }
}