@use 'skya_loading';
@use 'shared/bgNormal';
@use 'shared/cursor';
@use 'shared/fonts';
@use 'shared/styled';
@use 'shared/animation';

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-modify: read-only;
}

body {
    color-scheme: dark;
    //object-fit: contain;
    white-space: wrap;
    margin: 0 1px;
    overflow-x: hidden;/* Very important */
    scroll-behavior: smooth;
}

.layout {
    align-content: center;
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;

    &:hover {
        animation: onHoverani 0.35s forwards;
    }

    &:not(:hover) {
        animation: outHoverani 0.35s forwards;
    }
    &:active{
        animation: mousePushed 0.35s forwards;
    }
}