body{
    background: radial-gradient(ellipse at top,
    #142857 0%, #040807 100%);
    scroll-behavior: smooth;
    color-scheme: light dark;
    object-fit: contain;
    white-space: nowrap;
    min-height: 100vh; /* Very important */
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vw - 1.5em);
    min-width: 490px;
    overflow-x: hidden;
}

@media (max-width: 640px){
    *{
        max-width: calc(100vw - 1em);
    }
}

.layout {
    align-content: center;
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

header {
    animation: scroolAppear 1.6s linear;
    grid-area: header;
}

main {
    animation: scroolAppear 2.1s linear;
    grid-area: content;
}

footer {
    animation: scroolAppear 3s linear;
    grid-area: footer;
    text-align: center;
}

@font-face {
    font-family: "SKYA_Title-Pixel_demo";
    src: url("/font/SKYA_TitlePixel_demo-Regular.otf") format('truetype');
    src: url("/font/SKYA_TitlePixel_demo-Regular.woff") format('woff');
    src: url("/font/SKYA_TitlePixel_demo-Regular.woff2") format('woff2');
}
@font-face {
    font-family: "Home-Sweet-Home-normal";
    src: url("/font/home-sweet-home.regular.otf") format('truetype');
}

@font-face {
    font-family: "Home-Sweet-Home-outline";
    src: url("/font/home-sweet-home.outline-regular.otf") format('truetype');
}

@keyframes scroolAppear {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.4;
    }
    100%{
        opacity: 1;
    }
}
