@use "shared/background";
@use "shared/fonts";
@use "shared/icons";
@use "shared/styled";
@use "shared/cursors" as cursors;
@use "shared/colors" as colors;
@use "shared/animation";

@use "skya_loading";

/*@media (prefers-color-scheme: dark) {
    
}*/

:root {
    color-scheme: dark only;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    a {

        &:link,
        &:visited {
            color: colors.$link-visited;
        }

        &:hover {
            color: colors.$sharp-green;
        }
    }

    * {
        transition: all 50ms ease-out;

        &:focus {
            outline: 5px solid colors.$section-color;
        }

        &:not(:focus){
            outline: 0 solid colors.$section-color;
        }
    }
}

body {
    object-fit: contain;
    white-space: wrap;
    margin: 0 1px;
    overflow-x: hidden;
    /* Very important */
    scroll-behavior: smooth;
    cursor: cursors.$default;
}

.layout {
    align-content: center;
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;

    &:hover {
        animation: elementsHoverOne 0.35s forwards;
    }

    &:not(:hover) {
        animation: elementsOutHoverOne 0.35s forwards;
    }

    &:active {
        animation: elementsClick 0.35s forwards;
    }
}