$scan-width: 1rem;
$scan-crt: true;
$scan-fps: 120; //custom
$scan-color: rgba(#cecece, 1);
$scan-z-index: 2147483648;
$scan-moving-line: true;
$scan-opacity: .75;

@mixin scan-moving($scan-moving-line) {
  @if $scan-moving-line ==true {
    animation: scan-moving 6s linear infinite;
  }

  @else {
    animation: none;
  }
}

@mixin scan-crt($scan-crt) {
  @if $scan-crt ==true {
    animation: scan-crt 1s steps($scan-fps) infinite;
  }

  @else {
    animation: none;
  }
}

// ----- switch style
#switch+.switch-label {
  background: #444;
  background-image: radial-gradient(circle at left top, lighten(#444, 10%), darken(#444, 10%));
  box-shadow:
    -.1rem -.1rem 0 lighten(#444, 10%),
    .1rem .1rem 0 darken(#444, 10%),
    0 0 0 .2rem darken(#444, 20%),
    .1rem .1rem 0 .2rem #444;

  &:after {
    background: darken(#0f0, 40%);
  }
}
#switch:checked+.switch-label,
#switch:active+.switch-label {
  box-shadow:
    -.1rem -.1rem 0 darken(#444, 10%),
    .1rem .1rem 0 lighten(#444, 10%),
    0 0 0 .2rem darken(#444, 20%),
    .1rem .1rem 0 .2rem #444;

  &:after {
    background: lighten(#0f0, 20%);
    box-shadow:
      0 0 1.2rem 0 rgba(#0f0, 1);
  }
}

/*init scanline*/
.crtScanlines {
  position: relative;
  overflow: hidden;

  &:before,
  &:after {
    display: block;
    pointer-events: none;
    content: '';
    position: absolute;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $scan-width * 1;
    z-index: $scan-z-index + 1;
    opacity: $scan-opacity;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $scan-z-index;
  }
}

/*turn off*/
#switch~.crtScreen {
  background: #111;

  &.crtScanlines {

    &:before,
    &:after {
      animation: none;
    }
  }

  >.crtContents {
    animation: crt-power-off .55s forwards ease-in-out;
  }
}

/*turn on*/
#switch:checked~.crtScreen {
  &.scanlines {
    &:before {
      background: $scan-color;
      @include scan-moving($scan-moving-line);
    }

    &:after {
      background: linear-gradient(to bottom,
          transparent 50%,
          $scan-color 51%);
      background-size: 100% $scan-width * 2;
      @include scan-crt($scan-crt);
    }
  }

  >.crtContents {
    animation: crt-power-on 4s forwards linear;
  }
}

// ---- ANIMATION 
@keyframes scan-moving {
  0% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes scan-crt {
  0% {
    background-position: 0 50%;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes crt-power-on {
  0% {
    transform:
      scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(30) url(#glitch1);
    opacity: 0.35
  }

  3% {
    transform:
      scale(1, 0.8) translate3d(0, 100%, 0);
  }

  4% {
    transform:
      scale(1, 0.8) translate3d(0, -100%, 0);
  }

  9% {
    transform:
      scale(1.3, 0.6) translate3d(0, 100%, 0);
  }

  11% {
    transform:
      scale(1, 1) translate3d(0, 0, 0);
    filter:
      contrast(0) brightness(0);
    opacity: 0;
  }

  100% {
    transform:
      scale(1, 1) translate3d(0, 0, 0);
    filter:
      contrast(1) brightness(1.2) saturate(1.3) url(#glitch2);
    opacity: 1;
  }
}

@keyframes crt-power-off {
  0% {
    transform:
      scale(1, 1.3) translate3d(0, 0, 0);
    filter: brightness(1) url(#glitch2);
    opacity: 1;
  }

  40% {
    transform:
      scale(1.3, 0.001) translate3d(0, 0, 0);
    filter: brightness(10);
  }

  100% {
    transform:
      scale(0.000, 0.0001) translate3d(0, 0, 0);
    filter: brightness(50) url(#glitch1);
  }
}

// ------- LAYOUT

.crtBox {
  font-family: 'XTypeWriter-Regular';
  font-weight: normal;
  text-shadow:
    0 0 .08em rgba(#fff, 1),
    -.08em 0 .08em rgba(#0ff, 1),
    .08em 0 .08em rgba(#f0f, 1);
  display: flex;
  flex-direction: column-reverse;
  width: 60%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
  border: 2px dashed #2bad1a;
  border-radius: 2em;
  background-color: #28571466;
  box-shadow: 2px 2px 30px #111;

  .crtScreen {
    position: relative;
    padding-left: auto;
    padding-top: 85%;
    background-color: #2bad1a4a;
    width: 100%;
    height: 0;
    box-sizing: content-box;
    clip-path: url(#crtPath);
    text-transform: uppercase;
    border: 5px dashed #285714;

    .crtContents {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: #2bad1a4a;
      box-sizing: border-box;
      box-shadow: -1px -1px 10px #111;
      transition: background-color 0.5s;
      overflow-wrap: break-word;
      overflow-y: auto;

      &:hover {
        background-color: #2bad1a9d;
      }
    }

    h1.crtTitle {
      margin: 0;
      font-size: 2.5rem;
      font-weight: normal;
      padding-left: 3%;

      span#crtPointer {
        animation: blink 1s steps(5, start) infinite;
      }
    }

    a#crtLink {
      color: #bababa;
      text-decoration: none;
      transition: color 0.5s;

      &hover{
        color: #eee;
      }
    }

    #crtNav {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          &:before {
            content: 'Goto ';
          }

          &:hover {
            &:before {
              content: '-> ';
            }
            &:after {
              content: ' ->';
            }
          }
        }
      }
    }

    #crtFooter {
      padding-top: 1em;
    }

    @media (min-width: 30rem) {
      .crtContents {
        padding: 1px;
        font-size: 15px;
      }

      #crtFooter {
        padding-top: 10px;
      }
    }

    @media (min-width: 45rem) {
      .crtContents {
        padding: 1px;
        font-size: 30px;
      }

      #crtFooter {
        padding-top: 3rem;
      }
    }
  }

  /* contorl button */
  #switch {
    display: none;
  }

  .switch-label {
    align-self: flex-end;
    position: relative;
    display: inline-block;
    margin: 2rem 2rem 0 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    text-shadow:
      .1rem .1rem 0 rgba(#fff, .4);
    color: #444;
    cursor: pointer;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-5rem, -50%);
      content: '';
      display: block;
      border-radius: 50%;
      height: .5rem;
      width: .5rem;
    }

    span#crtPointer {
      position: absolute;
      top: 5rem;
      left: 0;
      width: 100%;
      text-align: center;
      user-select: none;
    }
  }
}