@use "shared/colors" as colors;
@use "shared/animation";
@use "shared/layers" as layers;

$currentScrollbarWidth: 8px;
$currentScrollbarHeight: 1vh;


/* full scrollbar */
::-webkit-scrollbar {
    display: none; //rip default scrollbar ;>
    //width: $currentScrollbarWidth;
}

div#scrollProgress{
    position: relative;
    //visibility: hidden;
    color: colors.$highlight-color;
    z-index: layers.$elements;
    margin: 0 auto;
    width: 80%;
    height: 6px;
    display: block;
    border: 1px colors.$highlight-color solid;
    border-radius: 0 0 3px 3px;
    background-color: colors.$highlight-color;

    ::before{
        animation: elementsAppear forwards 200ms;
    }

    ::after{
        animation: elementsDisappear forwards 200ms;
    }
}