@use "shared/cursors" as cursors;

footer {
    position: relative;
    text-align: center;
    border-radius: 1.5rem;
    border: 2px dashed #2bad1a;
    color: #2bad1a;
    font: 1rem "XTypeWriter-Bold", "fusion-pixel-Monospace";
    white-space: wrap;
    margin: 5% auto 0;
    padding: 1%;
    width: 75%;

    &:hover{
        cursor: cursors.$pointer;
    }

    .augurozFooter {
        font: 0.9rem "PixeloidSans-Regular", "Consolas", "fusion-pixel-Monospace";
        text-align: center;
    }
}

@media (max-width:375px) {
    footer {
        scale: 1.2;
    }
}