.skya_title {
    font-family: "SKYA_Title-Pixel_demo";
    text-align: center;
    /*padding-left: 2%;*/
    animation: SKYA_title_loaded 0.5s forwards;
    /*make it in type-style */
    border: 1px solid;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1px -1px 1rem;
    cursor: pointer;
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
    text-wrap: wrap;
}

@media (min-width:370px) and (max-width:460px){
    .skya_title_text {
        font-size: clamp(75%, 4vw, 100%);
    }
}

@media screen and (max-width:370px){
    .skya_title_text {
        font-size: clamp(50%, 4vw, 75%);
    }
}

/*staus ani*/

.skya_title:hover {
    animation: SKYA_title_inHover 0.35s forwards;
    filter: url(#glitch1);
}

.skya_title:not(:hover) {
    animation: SKYA_title_outHover 0.5s forwards;
}

@keyframes SKYA_title_inHover {
    0% {
        color: #571428;
        font-size: 300%;
    }
    3%,
    15%,
    18%,
    30%,
    40%,
    60% {
        color: #285714;
    }

    5%,
    10%,
    20%,
    25%,
    55%,
    65% {
        color: #2bad1a;
    }
    100% {
        background-color: #00000036;
        font-size: calc(300% + 50%);
        color: #2bad1a;
        box-shadow: -0.1rem -0.1rem 5rem #96df8d;
        text-shadow: 0px 0px 2.5rem #94ca8c;
    }
}

@keyframes SKYA_title_outHover {

    0%{
        box-shadow:  -0.1rem -0.1rem 5rem #96df8d;
        font-size: 350%;
    }
    3%,
    15%,
    18%,
    30%,
    40%,
    60% {
        color: #285714;
    }

    5%,
    10%,
    20%,
    25%,
    55%,
    65% {
        color: #2bad1a;
    }
    100%{
        box-shadow: -0.1rem -0.1rem 1.5rem #96df8d;
        color: #2bad1a;
        font-size: calc(350% - 50%);
    }        
}