@use "shared/colors" as colors;
@use "shared/layers" as layers;
@use "shared/animation";

dialog#smodalBox {
    position: fixed;
    display: grid;
    top: 20vh;
    width: 50%;
    height: 50%;
    padding: 30px 30px;
    z-index: layers.$modals;
    overflow: hidden;
    /* background-color: ; */
    border: 5px solid colors.$highlight-color;
    border-radius: 8px;
    transform-origin: center center;
    animation: modalAppear 200ms forwards;

    &::backdrop {
        background-color: colors.$dark-shadow1;
    }

    &:active {
        border-style: dashed;
    }

    &:hover{
        border-color: colors.$section-color;
        scale: 1.05;
    }

    form#smodalContent {
        background-image: none;
    }
}