footer {
    position: relative;
    text-align: center;
    border-radius: 1.5rem;
    border: 2px dashed #2bad1a;
    color: #2bad1a;
    font: 1rem "XTypeWriter-Bold";
    white-space: wrap;
    cursor: pointer;
    margin: 5% auto 0;
    padding: 1%;
    width: 75%;

    .auguroz_footer {
        font: 0.9rem "PixeloidSans-Regular", 'Consolas';
        text-align: center;
    }
}

@media (max-width:375px) {
    footer {
        scale: 1.2;
    }
}