@use "shared/animation";
@use "shared/buttons";
@use "shared/cursors"as cursors;
@use "shared/layers" as layers;

// TODO: navBtns' styles move to skya_button

header#header {
    position: sticky;
    top: 0;
    z-index: layers.$common;
}

/*-----nav part*/

nav#navbox {

    border: 1px solid #142857;
    border-radius: 5px;
    background-color: transparent;
    background-image: radial-gradient(#285714 60%, transparent 0.5px),
        radial-gradient(#000, transparent 1px);
    background-size: 4px 4px;
    backdrop-filter: blur(2px);
    mask: linear-gradient(#000 60%, #285714 100%);
    opacity: 1;

    border-collapse: collapse;
    display: grid;
    grid-auto-flow: row;
    margin: 0 auto;
    text-wrap: wrap;

    &:hover {
        animation: elementsHoverOne 0.35s forwards;
    }

    &:not(:hover) {
        animation: elementsOutHoverOne 0.5s forwards;
    }

    ul {
        margin: 1.5rem auto;
    }
}

/*-----nav UPPER part*/

ul.firstul {
    display: inline-flex;
    padding-inline-start: 0;
    box-shadow: 2rem 4rem 4rem #00000033;
    border-radius: 0.5rem;
}

/*-----nav BUTTOM part*/

ul.secondul {
    box-shadow: 1rem 2rem 2rem #00000033;
    width: 30vw;
}