progress#progress{
    position: relative;
    //visibility: hidden;
    margin: 0 auto;
    width: 80%;
    height: 6px;
    display: block;
    border: 1px #2bad1a solid;
    border-radius: 0 0 3px 3px;
    background-color: #2bad1a;
}