/*nav IFSELF style*/
nav {
    color-scheme: dark;
    border: 1px solid #142857;
    border-radius: 5px;
    background-color: #285714;
    border-collapse: collapse;
    display: grid;
    justify-items: center;
    grid-auto-flow: row;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 640px){
    *{
        max-width: calc(100vw - 1em);
    }
    ul{
        box-sizing: clamp(100%, 3vw, 75%);
    }
}

/*nav UPPER elements part style*/

ul {
    padding-left: 15%;
    padding-right: 15%;
    display: inline-flex;
    align-self: center;
}

.firstul {
    box-shadow: 2rem 4rem 4rem #00000033;
    border-radius: 0.5rem;
}

.firstul li {
    list-style: none;
    background-color: #14285728;
    box-shadow: 1rem 2rem 2rem #00000033;
    color: #28145757;
}

.firstul li a {
    border-radius: 3px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    text-decoration: none;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font: 600 2rem 'Consolas'; /* This should be shown as similar as mobile phones, so 'Consolas' fontfamliy will not gonna works */
/*NEED TO: add a similar font to make it a great view.*/

}

@media (min-width:535px) and (max-width:700px){
    .firstul li a{
        font-size: clamp(1rem, 6vw, 1.5rem);
    }
    .firstul li{
        display: flex;
    }
}

@media (min-width:380px) and (max-width:535px){
    .firstul li a{
        font-size: clamp(0.75rem, 4vw, 1rem);
    }
    .firstul li{
        display: flex;
    }
}
@media screen and (max-width:380px) {
    .firstul li{
        display: flex;
    }
    .firstul li a{
        font-size: clamp(0.5rem, 4vw, 0.75rem);
    }
}

/*nav UPPER status*/

.firstul li a:hover {
    animation: navTex1_Inhov 0.5s;
    animation-fill-mode: forwards;
}

.firstul li a:not(:hover) {
    animation: navTex1_Outhov 0.5s;
    animation-fill-mode: forwards;
}

.firstul li a:active {
    box-shadow: inset 5px 5px 5px #00000030,
        inset -5px -5px 5px #00000036;
    animation: click_ani 0.35s forwards;
}

/*nav ITSELF style status*/

nav:hover {
    animation: navborder_ani1 0.35s forwards;
}

nav:not(:hover) {
    animation: navborder_ani2 0.5s backwards;
}

.nav_slider {
    background-color: #2bad1a;
    z-index: 10000;
}

/*nav BUTTOM part*/

.secondul {
    box-shadow: 1rem 2rem 2rem #00000033;
}

.langSet,
.testPg,
.errPg {
    color: #2bad1a;
    background-color: #281457;
    border: 1px solid;
    cursor: pointer;
}

.testPg a,
.errPg a {
    color: #2bad1a;
    background-color: #281457;
    border: none;
    text-decoration: none;
}

@media (min-width:370px) and (max-width:460px){
    .langSet,.testPg,.errPg {
        font-size: clamp(1rem, 4vw, 1.5rem);
    }
    .secondul li a{
        display: flex;
    }
}

@media screen and (max-width:370px){
    .langSet,.testPg,.errPg {
        font-size: clamp(0.75rem, 4vw, 1rem);
    }
    .secondul li a{
        display: flex;
    }
}

/*nav BUTTOM part status*/

.langSet:hover,
.testPg:hover,
.errPg:hover {
    animation: navTex2_Inhov 0.35s forwards;
}

.langSet:after,
.testPg:after,
.errPg:after {
    text-decoration: line-through;
}

.langSet:active,
.testPg:active,
.errPg:active{
    animation: click_ani 0.35s forwards;
}

/*animations Part*/

@keyframes navTex1_Inhov {
    0% {
        color: #281457;
        border-color: #2bad1a;
    }

    25% {
        color: #dad;
    }

    100% {
        color: #571428;
        background-color: #2bad1a;
    }
}

@keyframes navTex1_Outhov {
    0% {
        color: #571428;
        border-color: #2bad1a;
    }

    15%,
    25%,
    35%,
    65% {
        color: #285714;
        border-color: #285714;
    }

    20%,
    30%,
    45%,
    75% {
        color: #50b027;
        border-color: #2bad1a;
    }

    100% {
        color: #281457;
    }
}

/*nav BUTTOM status ani*/

@keyframes navTex2_Inhov {
    0% {
        border-color: #2bad1a;
        color: #2bad1a;
    }

    15%,
    25%,
    35%,
    65% {
        border-color: #285714;
    }

    20%,
    30%,
    45%,
    75% {
        border-color: #2bad1a;
    }

    100% {
        border-color: #285714;
    }
}

/*nav ITSELF status ani*/

@keyframes navborder_ani1 {
    0% {
        border-color: #142857;
    }

    100% {
        border-color: #2bad1a;
    }
}

@keyframes navborder_ani2 {
    0% {
        border-color: #2bad1a;
    }

    100% {
        border-color: #142857;
    }
}

@keyframes click_ani {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.7;
    }
}