@use "shared/layers" as layers;
@use "shared/cursors" as cursors;
@use "shared/colors" as colors;
@use "shared/animation";

div.skyaTitle {
    position: sticky;
    overflow-y: hidden;
    text-wrap: wrap;
    font: 5vw "SKYA_Title-Pixel_demo";
    text-align: center;
    color: colors.$highlight-color;
    border: 2px dashed;
    border-radius: 7px;
    z-index: layers.$background;
    animation: SKYA_title_loaded 0.5s forwards;
    box-shadow: -1px -1px 1rem;

    &.mobile{
        width: 100%;
        padding-left: 2%;
    }
    &:hover {
        cursor: cursors.$pointer;
        animation: skyaTitleHover 0.5s forwards;
    }

    &:not(:hover) {
        animation: skyaTitleOutHover 0.5s forwards;
    }

    &:active {
        animation: skyaTitleClick 0.35s forwards ease-in-out;
    }

}