@use "shared/colors" as colors;
@use "shared/layers" as layers;

body {
    grid-template-areas:
        "header"
        "content"
        "footer";
}

header {
    grid-area: header;
    row-gap: 35px;
    color: colors.$baba;

    #background {
        animation: bgAni 2s infinite;
        z-index: layers.$background;
    }

    .skyaTitle {
        .errTitleText {
            animation: bgAni 1s infinite;
        }
    }

    .title {
        text-align: center;
        font: 2.5rem "PixeloidSans-Regular", "fusion-pixel-Monospace";
        margin: 3rem auto;
        font-size: clamp(2.5rem, 2vw, 3rem);
        color: colors.$highlight-color;
        //animation: bg_ani 2s infinite;
    }

}

main {
    grid-area: content;

    .skyaBtnE {
        animation: bgAni 2s infinite;
    }

    span {
        text-align: left;
        font: 600 1rem "SKYA_Title-pixel_demo";
        color: colors.$highlight-color;
    }

    .output {
        font: 1rem "PixeloidSans-Regular", "fusion-pixel-Monospace";
        color: colors.$highlight-color;
        opacity: 0.65;
    }
}

footer {
    grid-area: footer;
}

svg.hiddenFilter {
    display: none;
}