.container {
    position: relative;
    display: grid;
    text-align: center;
    text-wrap: warp;
    white-space: break-spaces;
    border: 2px dashed #dcdbdb;
    color: #f3f3f3;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border-radius: 1rem;
    line-height: 1.5rem;
    background-color: #2bad1a14;

    &:hover {
        animation: commHover 0.35s forwards;
    }

    &:not(:hover) {
        animation: commOutHover 0.35s forwards;
    }
}

@media (min-width:300px) and (max-width:600px) {
    .container {
        margin-left: 4%;
        margin-right: 4%;
    }
    .hr_conf{
        font-size: clamp(0.5rem, 6vw,1rem);
    }
}

.container h4{
    text-align: left;
    padding-left: 2%;
    font-family: '';
}

.container h3,
.container h2,
.container h1 {
    text-align: left;
    padding-left: 1%;
    margin-top: 1rem;
    margin-bottom: 6rem;
    font-size: clamp(0.75rem, 4vw, 1.5rem);
}

.hr_conf {
    color: #2bad1a;
    border-color: #2bad1a;
    font-size: clamp(0.75rem, 4vw, 1rem);
    padding: 1em 0;
    border: 1px dashed;
    position: relative;
    font-family: "Home-Sweet-Home-normal";

    &::before {
        content: attr(attr-con);
        position: relative;
        padding: 0 0;
        line-height: 0.1rem;
        border-width: 0 99vw;
        width: fit-content;
    }
}

@keyframes commHover {
    0% {
        opacity: 0.55;
        filter: blur(1px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes commOutHover {
    0% {
        opacity: 1;
        filter: blur(0px);
    }

    100% {
        opacity: 0.55;
        filter: blur(1px);
    }
}

@keyframes glitchAni {
    0% {
        filter: url(#glitch1);
    }

    100% {
        filter: url(#glitch2);
    }
}