header {
    position: sticky;
    top: 0;
    z-index: 10000;
}

/*-----nav part*/

nav {
    color-scheme: dark;
    border: 1px solid #14285700;
    border-radius: 5px;
    background-color: #285714;
    border-collapse: collapse;
    display: grid;
    justify-items: center;
    grid-auto-flow: row;
    margin: auto;
    text-wrap: wrap;
    white-space: none;

    &:hover {
        animation: navInHover 0.35s forwards;
    }

    &:not(:hover) {
        animation: navOutHover 0.5s forwards;
    }

    ul {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (min-width:910px) {
    .navbox {
        height: 112px;
    }
}

/*-----nav UPPER part*/

ul.firstul {
    display: inline-flex;
    align-self: center;
    box-shadow: 2rem 4rem 4rem #00000033;
    border-radius: 0.5rem;


    div.linkbox {
        list-style: none;
        border-radius: 1rem;
        border-top: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
        background-color: #14285728;
        box-shadow: 1rem 2rem 2rem #00000033;
        color: #28145757;

        button.navbtn {
            border-radius: 3px;
            border-color: #2bad1a;
            background-color: #285714;
            text-decoration: none;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            font: 600 1.7rem "Home-Sweet-Home-normal", 'Consolas';
            /* This should be shown as similar as mobile phones, so 'Consolas' fontfamliy will not gonna works */
            /* added a similar font to make it a great view.*/

            &:hover {
                animation: navTex1_Inhov 0.35s forwards;
                cursor: pointer;
            }

            &:not(:hover) {
                animation: navTex1_Outhov 0.35s forwards;
            }

            &:active {
                box-shadow: inset 5px 5px 5px #00000030,
                    inset -5px -5px 5px #00000036;
                animation: click_ani 0.35s forwards;
            }
        }
    }
}

@media (min-width:900px) and (max-width:100vw) {
    ul.firstul div.linkbox button.navbtn {
        font-size: clamp(2rem, 6vw, 2.3rem);
    }
}

@media (min-width:700px) and (max-width:900px) {
    ul.firstul div.linkbox button.navbtn {
        font-size: clamp(1.5rem, 6vw, 2rem);
    }
}

@media (min-width:570px) and (max-width:700px) {
    ul.firstul div.linkbox button.navbtn {
        font-size: clamp(1rem, 6vw, 1.5rem);
    }
}

@media (min-width:405px) and (max-width:570px) {
    ul.firstul div.linkbox button.navbtn {
        font-size: clamp(15px, 6vw, 1rem);
    }
}

@media (min-width:320px) and (max-width:405px) {
    ul.firstul {
        text-wrap: warp;
        white-space: scroll;

        div.linkbox button.navbtn {
            font-size: 11px;

        }
    }
}

/*-----nav BUTTOM part*/

ul.secondul {
    box-shadow: 1rem 2rem 2rem #00000033;

    div.linkbox .navbtn {
        display: flex;
    }

    %sharedNavbtn {
        color: #2bad1a;
        background-color: #281457;
        border: 1px solid;
        cursor: pointer;
        font-family: "Home-Sweet-Home-normal", 'Consolas';
    }

    %sharedNavLink {
        color: #2bad1a;
        background-color: #281457;
        border: none;
        text-decoration: none;
    }

    button#langSet,
    button#errPg {
        @extend %sharedNavbtn;

        &:hover {
            animation: navTex2_Inhov 0.35s forwards;
        }

        &:not(:hover) {
            animation: navTex2_Outhov 0.35s forwards;
        }

        &::after {
            text-decoration: line-through;
        }
    }

    button#errPg a {
        @extend %sharedNavLink;
    }

}

@media (min-width:610px) and (max-width:100vw) {

    button#langSet,
    button#errPg a {
        font-size: clamp(1rem, 4vw, 1.5rem);
    }
}

@media screen and (max-width:610px) {

    button#langSet,
    button#errPg a {
        font-size: clamp(0.75rem, 4vw, 1rem);
    }

}

/*-----animations Part*/

@keyframes navTex1_Inhov {
    0% {
        color: #281457;
        border-color: #2bad1a;
    }

    25% {
        color: #dad;
    }

    100% {
        color: #571428;
        background-color: #2bad1a;
    }
}

@keyframes navTex1_Outhov {
    0% {
        color: #571428;
        border-color: #2bad1a;
    }

    15%,
    25%,
    35%,
    65% {
        color: #285714;
        border-color: #285714;
    }

    20%,
    30%,
    45%,
    75% {
        color: #50b027;
        border-color: #2bad1a;
    }

    100% {
        color: #281457;
    }
}

/*nav BUTTOM status ani*/

@keyframes navTex2_Inhov {
    0% {
        border-color: #2bad1a;
        color: #2bad1a;
    }

    15%,
    25%,
    35%,
    65% {
        border-color: #285714;
    }

    20%,
    30%,
    45%,
    75% {
        border-color: #2bad1a;
    }

    100% {
        border-color: #285714;
    }
}

@keyframes navTex2_Outhov {
    0% {
        border-color: #285714;
        filter: url(#glitch1);
    }

    15%,
    25%,
    35%,
    65% {
        border-color: #2bad1a;
    }

    20%,
    30%,
    45%,
    75% {
        border-color: #285714;
    }

    100% {
        border-color: #2bad1a;
    }

}

@keyframes navTex2_click {
    0% {}
}

/*nav ITSELF status ani*/

@keyframes navInHover {
    0% {
        border-color: #142857;
        filter: grayscale(70%);
    }

    100% {
        border-color: #2bad1a;
        filter: grayscale(10%);
    }
}

@keyframes navOutHover {
    0% {
        border-color: #2bad1a;
        filter: grayscale(10%);
    }

    100% {
        border-color: #142857;
        filter: grayscale(70%)
    }
}