.skyaBtnD,
.skyaBtnE {
    color: #2bad1a;
    font-size: 20px;
    font-family: XTypeWriter-Bold;
    background-color: #13131313;
    border: 3px solid;
    margin: 7% auto 10%;
    border-radius: 4px;
    padding: 10px 10px;
    cursor: pointer;
    transform-origin: left;

    a {
        text-decoration: none;
        color: #2bad1a;
    }

    &:hover {
        animation: btn_inHover 0.5s forwards;
    }

    &:not(:hover) {
        animation: btn_outHover 0.4s forwards;
    }

    &:active {
        animation: btn_Click 0.4s forwards;
    }
}

/*animation below*/

@keyframes btn_inHover {
    0% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

@keyframes btn_outHover {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.05;
    }
}

@keyframes btn_Click {
    0% {
        scale: 1;
    }

    100% {
        scale: 0.85;
    }
}