@use "shared/layers" as layers;
@use "shared/colors" as colors;

#loading{
    background-color: colors.$dark-shadow2;
    z-index: layers.$common;
    font: auto "consolas" "fusion-pixel-Monospace";
}