@use "shared/animation";
@use "shared/colors" as colors;
@use "shared/cursors" as cursors;

code#spanOne {
    border-collapse: collapse;
    border: 0.1rem solid;
    border-radius: 0.5rem;
    font: 1.5rem "PixeloidSans-Regular";
    cursor: cursors.$pointer;

    &:hover {
        border-color: colors.$highlight-color;
        color: colors.$highlight-color;
        animation: elementsHoverOne 0.2s forwards;
    }

    &:not(:hover) {
        animation: elementsOutHoverOne 0.5s forwards;
    }

    &:active {
        border-color: colors.$baba;
        color: colors.$baba;
        animation: elementsClick 0.25s forwards;
    }
}