@use "shared/colors" as colors;
@use "shared/animation";

.container {
    position: relative;
    display: grid;
    text-align: Left;
    white-space: break-spaces;
    border: 2px dashed colors.$baba;
    color: colors.$baba;
    margin: 5% 15% 0;
    border-radius: 1rem;
    line-height: 1.5rem;
    background-color: colors.$global-hover;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    section {
        scroll-snap-align: start;
    }

    h1,
    h2,
    h3 {
        padding-left: 3%;
        margin: 1rem 0 6rem;
        font: clamp(1.3rem, 4vw, 1.5rem) "PixeloidSans-Regular", "fusion-pixel-Monospace";
    }

    h4 {
        padding-left: 4%;
        font: clamp(1rem, 4vw, 1.2rem) "PixeloidSans-Regular", "fusion-pixel-Monospace";
    }

    p {
        font: clamp(0.7rem, 4vw, 1rem) "fusion-pixel-Monospace";
        padding: 4.5%;
    }

    &:hover {
        animation: elementsHoverOne 0.35s forwards;
    }

    &:not(:hover) {
        animation: elementsOutHoverOne 0.35s forwards;
    }
}

hr.hr_conf {
    color: colors.$highlight-color;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: colors.$highlight-color;
    font-size: clamp(0.75rem, 4vw, 1rem);
    padding: 1em 0;
    position: relative;
    font-family: "PublicPixel", "fusion-pixel-Monospace";

    &::before {
        content: attr(attr-con);
        position: relative;
        padding: 0;
        line-height: 0.1rem;
        //border-width: 0 99vw;
        width: fit-content;
    }
}

@media (max-width:1024px) {
    .container {
        margin: 0 8%;
        font-size: 120%;

        h1,
        h2,
        h3,
        h4 {
            font-size: 120%;
        }
    }
}