@use "shared/layers" as layers;
@use "shared/fonts";
@use "shared/animation";

@use "skya_loading";
body {
    grid-template-areas:
        "header"
        "content"
        "footer";
}

header {
    grid-area: header;
    row-gap: 35px;
    color: #bababa;

    #background {
        animation: bg_ani 2s infinite;
        z-index: layers.$background;
    }

    .skyaTitle {
        .errTitleText {
            animation: bg_ani 1s infinite;
        }
    }

    .title {
        text-align: center;
        font: 2.5rem "PixeloidSans-Regular", "fusion-pixel-Monospace";
        margin: 3rem auto;
        font-size: clamp(2.5rem, 2vw, 3rem);
        color: #2bad1a;
        //animation: bg_ani 2s infinite;
    }

}

main {
    grid-area: content;

    .skyaBtnE {
        animation: bg_ani 2s infinite;
    }

    span {
        text-align: left;
        font: 600 1rem "SKYA_Title-pixel_demo";
        color: #2bad1a;
    }

    .output {
        font: 1rem "PixeloidSans-Regular", "Consolas", "Cascadia", "fusion-pixel-Monospace";
        color: #2bad1a57;
    }
}

footer {
    grid-area: footer;
}

svg.hiddenFilter {
    display: none;
}