body {
    background-color: #142857;
    scroll-behavior: smooth;
    width: 100%;
    color-scheme: light dark;
    flex-direction: column;
    margin: 0 auto;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #f3f3f3;
    color: #f3f3f3;
    /* Move it to centre-part in order to silde */
    animation: slide_bx 0.75s, forwards;
    scroll-snap-type: y mandatory;
    overflow: scroll;
    scroll-snap-align: start;
    border-top-left-radius: 1rem;
}

.container:hover {
    animation: cont_hover 0.2s forwards;
}

@font-face {
    font-family: "SKYA_Title-Pixel_demo";
    src: url("/font/SKYA_TitlePixel_demo-Regular.otf") format('truetype');
    src: url("/font/SKYA_TitlePixel_demo-Regular.woff") format('woff');
    src: url("/font/SKYA_TitlePixel_demo-Regular.woff2") format('woff2');
}

@keyframes cont_hover {
    0% {
        border-color: #f3f3f3;
    }

    100% {
        border-color: #2bad1a;
        color: #2bad1a;
    }
}